
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 62.5%;
	font-family: helvetica, arial, sans-serif;
	color:#545257;
	margin-top: 0;
}
#wrapper{
	width:960px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	-webkit-box-shadow: 0px 0px 5px #ececec;
	-moz-box-shadow:    0px 0px 5px #ececec;
	box-shadow:         0px 0px 5px #ececec;

}
/*-------------------------------------------  header -------------------------------------------------------*/

header{
	border-bottom: 1px solid #bbb8bf;
}
h1{
	margin-top: 0;
	padding-top: 10px;
}
h2{
	margin-top: 20px;
}

/*-------------------------------------------  table -------------------------------------------------------*/
table{
	background: #f7f7f9;
	border-collapse: collapse;
	width: 100%;
}
tr{
	display: table-row;
	border-color: inherit;
}
.odd{
	background: #ececec;
}
th{
	text-align: left;
	padding: 1em 1em .5em;
	font-weight: bold;
	font-size: 120%;
	color: #545257;
	background: #bbbcc0;
}
th:first-child{
	/*border-right: 1px solid #6a7680;*/
}
td{
	padding: 1em 1em;
	width: 69%;
}
td:first-child{
	/*border-right: 1px solid #6a7680;*/
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	width: 67.5%;
	float: left;
	font-size: 1.4em;

}
.main figure{
	float: right;
	margin: 15px 0 20px 0;
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;
}
a:hover{
	text-decoration: underline;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
